/*Eindproject minor programmeren 2015-2016
Data Visualisatie
"Wonen in Amsterdam"
Iris de Vries
10367675*/

.labels {
    color: white;
    background-color: black;
    font-family: "Verdana";
    font-size: 12px;
    text-align: center;
    /*  width: 100px;  */   
    white-space: nowrap;
}

#knop {
    font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#knop:hover {
    background: #e3e3e3;
    text-decoration: none;
}

#titel {
    position: absolute;
    left: 550px;
    top: 60px;
    font-family: "Verdana";
    font-size: 20px;
}

#titelPagina2 {
    position: absolute;
    left: 650px;
    top:860px;
    font-family: "Verdana";
    font-size: 20px;
}
#verhaal {
    position: absolute;
    left: 340px;
    top: 900px;
    width: 800px;
    text-align: center;
    font-family: "Verdana";
    font-size: 15px;
}

#uitlegChart1 {
    position: absolute;
    left: 50px;
    top: 1470;
    width: 300px;
    font-family: "Verdana";
    font-size: 15px;
    z-index: 4;
}

#uitlegChart2 {
    position: absolute;
    left: 550px;
    top: 1470;
    width: 300px;
    font-family: "Verdana";
    font-size: 15px;
    z-index: 4;
}

#uitlegChart3 {
    position: absolute;
    left: 1050px;
    top: 1470;
    width: 300px;
    font-family: "Verdana";
    font-size: 15px;
    z-index: 4;
}

#textAreaAdvies {
    position: absolute;
    left: 10px;
    top: 600;
    font-family: "Verdana";
    font-size: 12px;
    border: solid #848b8f 2px;
    z-index: 3;
}

#chart {
  font: 10px Verdana;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: #ff9999;
}

.bar:hover {
  fill:  #ff5050 ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  z-index: 2;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#panel, #flip {
font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#chart2 {
  font: 10px Verdana;
}

#chart3 {
  font: 10px Verdana;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#panel, #flip {
font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#flip:hover {
  background: #e3e3e3;
  text-decoration: none;
}

#panel {
  display: none;
  width: 110px;
  font-family: Arial;
  color: #0a090a;
  font-size: 15px;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #848b8f 1px;
  text-decoration: none;
}

#panelTwee, #flipTwee {
font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#flipTwee:hover {
  background: #e3e3e3;
  text-decoration: none;
}

#panelTwee {
  display: none;
  width: 100px;
  font-family: Arial;
  color: #0a090a;
  font-size: 15px;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #848b8f 1px;
  text-decoration: none;
}

#panelDrie, #flipDrie {
font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#flipDrie:hover {
  background: #e3e3e3;
  text-decoration: none;
}

#panelDrie {
  display: none;
  width: 100px;
  font-family: Arial;
  color: #0a090a;
  font-size: 15px;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #848b8f 1px;
  text-decoration: none;
}

#panelVier, #flipVier {
font-family: Arial;
    color: #0a090a;
    font-size: 15px;
    background: #ffffff;
    padding: 5px 15px 5px 15px;
    border: solid #848b8f 1px;
    text-decoration: none;
}

#flipVier:hover {
  background: #e3e3e3;
  text-decoration: none;
}

#panelVier {
  display: none;
  width: 100px;
  font-family: Arial;
  color: #0a090a;
  font-size: 15px;
  background: #ffffff;
  padding: 5px 15px 5px 15px;
  border: solid #848b8f 1px;
  text-decoration: none;
}